name: Update WakaTime Stats

on:
  schedule:
    - cron: '0 * * * *' # 每小时更新一次，可以根据需求调整
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Fetch WakaTime Stats
        uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_TIMEZONE: "true"             # 可选，显示时区
          SHOW_EDITORS: "true"              # 可选，显示编辑器数据
          SHOW_OS: "true"                   # 可选，显示操作系统数据
          SHOW_PROJECTS: "true"             # 可选，显示项目数据
          SHOW_LANGUAGE_PER_REPO: "false"   # 可选，显示每个仓库的语言数据
          SHOW_LOC_CHART: "true"            # 可选，显示代码行数统计图表
          SHOW_DAYS_OF_WEEK: "true"         # 可选，显示一周中每天的活动
          SHOW_PROFILE_VIEWS: "false"       # 可选，显示个人资料浏览量
          # update
